<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547105493533-mgaged81vaf4qlthqnovq2plcsmsqvt1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547105493533-mgaged81vaf4qlthqnovq2plcsmsqvt1</string>
	<key>API_KEY</key>
	<string>AIzaSyAKWbMu6yKzfkz2DyQwMuR6G1NeNuMivuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>547105493533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oscaryen.DandelionExpenses</string>
	<key>PROJECT_ID</key>
	<string>dandelionexpenses</string>
	<key>STORAGE_BUCKET</key>
	<string>dandelionexpenses.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547105493533:ios:cf67a01db1c5e36e65ecf4</string>
</dict>
</plist>